<!-- 搜索区 -->
<div class="serach-box mt20">
    <div class="input-search">
        <div class="input-group  fixed-input">
            <input type="text" class="form-control" placeholder="搜索" aria-describedby="basic-addon2">
            <span class="input-group-addon">
                        <i class="iconfont icon-search"></i>
                    </span>
        </div>
    </div>
</div>

<!-- 素材区-->
<div class="text-type-box">
    <h3 (click)="addEle('添加文字标题',1)">添加文字标题</h3>
    <h4 (click)="addEle('添加文字副标题',2)">添加文字副标题</h4>
    <h6 (click)="addEle('添加正文文字',3)">添加正文文字</h6>
</div>
<div class="mt20 clearfix material-box">
    <img *ngFor="let item of textOptions;" [src]="item.src" (click)="addEle(item)">
</div>